[Unit]
Description=Evsieve
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/edko/Sandbox/Personal/KVM
ExecStart=/bin/bash evsieve/evsieve.sh %I

[Install]
WantedBy=multi-user.target